<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic the Gathering: Deck Builder</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <header>
        <section id="title">
            <h1>Magic the Gathering: Deck Builder</h1>
        </section>
        <section>
            <src = "/img/MTG Banner.png"></src>
        </section>
        <section id="user">
            {{#if session.user}}
            <h2>{{session.user.userName}}</h2>       
            <button type="button" onclick="logout()">Log Out</button>
            {{/if}}
            <!--
                {{#if user.decks.length}}
                <h3>Saved Decks:</h3>
                    {{#each decks as |deck|}}
                    {{/each}}
                {{/if}}
            -->
            {{#unless session.user}}
            <h2>Login</h2><br />
            <label for="name">User Name: </label>
            <input type="text" name="name" id="name" /><br />
            <label for="password">Password: </label>
            <input type="password" name="password"  id="password" /><br />
            <button type="button" onclick="login()">Login</button>
            <a href="/register"><button type="button">Register</button></a>
            {{/unless}}
            <p id="logStatus"></p>
        </section>
    </header>
    <main>{{{body}}}</main>
    <script src="/js/login.js"></script>
    <script src="/js/logout.js"></script>
</body>
</html>