<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic the Gathering: Deck Builder</title>
</head>
<body>
    <header>
        <h1>Magic the Gathering: Deck Builder</h1>
        <section id="user">
            {{#if user}}
            <h2>{{user.name}}</h2>       
            <button type="button" onclick="logout()">Log Out</button>
            {{/if}}
            <!--
                {{#if user.decks.length}}
                <h3>Saved Decks:</h3>
                    {{#each decks as |deck|}}
                    {{/each}}
                {{/if}}
            -->
            {{#unless user}}
            <h2>Login</h2>
            <label for="name">User Name: </label>
            <input type="text" name="name" />
            <label for="password">Password: </label>
            <input type="text" name="password" />
            <button type="button" onclick="login()">Login</button>
            <button type="button" onclick="register()">Register</button>
            {{/unless}}
        </section>
    </header>
    {{{body}}}

    <script src="/js/login.js"></script>
    <script src="/js/logout.js"></script>
</body>
</html>