<section id="register">
    <h2>Register</h2><br />
    <label for="regName">User Name: </label>
    <input type="text" name="regName" id="regName" /><br />
    <label for="regEmail">Email: </label>
    <input type="text" name="regEmail"  id="regEmail" /><br />
    <label for="regPassword">Password: </label>
    <input type="password" name="regPassword"  id="regPassword" /><br />
    <button type="button" onclick="register()">Submit</button>
    <a href="/"><button type ="button">Cancel</button></a>
    <p id="regStatus"></p>
</section>

<script src="/js/register.js"></script>