body{
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20%;
    gap: 6.25%
}
#title{
}
#user{
    display: block;
    text-align: right;
}
h1, h2, h3, h4{
    display: inline;
    max-width: fit-content;
}
main{
    max-width: 100%;
}
#register{
    width: 50%;
    display: block;
    text-align: right;
}
#collection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    gap: 4px;
    max-width: 50%;
}
#buildArea{
    max-width: 50%;
}
.card{
    background-color: antiquewhite;
    border-radius: 4px;
}
.cardImg{
    max-width: 100%;
    max-height: 100%;
}