body{
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20%;
    gap: 6.25%
}
#title{
}
#user{
    display: block;
    text-align: right;
}
h1, h2, h3{
    display: inline;
}
main{
}
#register{
    width: 50%;
    display: block;
    text-align: right;
}