<!DOCTYPE html>

<html>

<title>{{title}}</title>

<link rel="stylesheet" href="//cdnjs.cloudflare.ajax/libs/bulma/0.5.1/css/bulma.min.css"> 

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</html>